body{
    background-color: #f9f2e7;
   }

#menu{
    top: 0%;
    left: 0%;
    height: 150px;
    width: 100%;
    background-color: #07889b;  
    position: absolute;
}

h1{
    font-size: 20px;
    margin-left: 55px;
    position: relative;
    top: 0px;
    font-family: 'Mônaco';
    color: #4e4e4e;
}

#rodape{
    bottom: 0%;
    left: 0%;
    height: 100px;
    width: 100%;
    background-color: #4ab;
    position: absolute;
}

h2{
    position: relative;
    float:left;
    font-size: 20px;
    left: 0px;
    bottom: 2px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #e2e2e2;
    padding: 0 150px ;
}

h3{

    position: relative;
    float:left;
    font-size: 21px;
    left: 62px;
    bottom: 7px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #e2e2e2;
}

.fotologo{
    width: 200px;
    height: 50px;
    margin-left: 42%;
    margin-top: 25px;
}

.submenu{
    top: 80px;
    left: 30%;
    height: 50px;
    width: 50%;
    background-color: #ffffff;
    position: absolute;
    border-radius: 50%;
}

.iconeinstagram{
    width: 60px;
    height: 60px;
    margin-left: 50px;
    position:absolute;
}

.iconett{
    width: 60px;
    height: 60px;
    margin-left: 115px;
    position: relative;
 
}

h4{
    font-size: 20px;
    margin-left: 1355px;
    position: relative;
    bottom: 120px;
    font-family: 'Mônaco';
    color: #4e4e4e;
}

a {
    position: relative;
    color: #fff;
    text-decoration: none;  
  }

  a:before {
    content: "";
    position: absolute;
    width: 60%;
    height: 1px;
    bottom: 0;
    margin-left: 20%;
    background-color: #020e50;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  h5{
    position: relative;
    float:left;
    font-size: 20px;
    left: 0px;
    bottom: 19px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #e2e2e2;
    padding: 0 150px ;
    text-decoration: underline;
  }